<div class="container">
    <h5 class="text-center">Please fill all input fields to get quotation estimate.</h5>
    <div *ngIf="message" class="alert alert-success" role="alert">
      {{ message }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <form
    (submit)="onSubmit()" 
    class="mx-auto w-50 shadow rounded p-3"> 
    <div class="row">
        <div class="form-group col-6">
            <label for="age">Ages</label>
            <ng-multiselect-dropdown
            [placeholder]="'Please select Ages'"
            [settings]="dropdownSettings"
            [data]="lstAges"
            [(ngModel)]="quotation.age"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}"
          >
          </ng-multiselect-dropdown>
          <small *ngIf="errors.age" class="text-danger">{{ errors.age[0] }}</small>
          </div>
          <div class="form-group col-6">
            <label for="age">Currency</label>
            <select class="form-control"  name="currency_id"  [(ngModel)]="quotation.currency_id">
                <option value="">Please select currency</option>
                <option *ngFor="let currency of lstCurrencies">{{ currency }}</option>
            </select>
          <small *ngIf="errors.currency_id" class="text-danger">{{ errors.currency_id[0] }}</small>
          </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
          <label for="age">Start Date</label>
          <!-- <input 
          type="date" 
          class="form-control" 
          name="start_date" 
          [(ngModel)]="quotation.start_date"/> -->
          <input type="text"
           placeholder="YYYY-MM-DD"
           class="form-control"
           [(ngModel)]="quotation.start_date"
           [ngModelOptions]="{standalone: true}"
           [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
           bsDatepicker>
        <small *ngIf="errors.start_date" class="text-danger">{{ errors.start_date[0] }}</small>
        </div>
        <div class="form-group col-6">
          <label for="age">End Date</label>
          <input type="text"
           placeholder="YYYY-MM-DD"
           class="form-control"
           [(ngModel)]="quotation.end_date"
           [ngModelOptions]="{standalone: true}"
           [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
           bsDatepicker>
        <small *ngIf="errors.end_date" class="text-danger">{{ errors.end_date[0] }}</small>
        </div>
    </div>
        <div class="form-group mt-3 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="loading" >
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Estimate Quotation</span>
            </button>
        </div>
    </form>
    <div *ngIf="quotationRes.total" class="mt-2">
    {{ quotationRes | json }}
</div>
</div>
