<div class="container">
    <h5 class="text-center">Please register in our system.</h5>
    <div *ngIf="message" class="alert alert-success" role="alert">
      {{ message }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <form
    (submit)="onSubmit()" 
    class="mx-auto w-50 shadow rounded p-3"> 
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input 
            type="text" 
            class="form-control" 
            name="name" placeholder="Enter name"
            [(ngModel)]="user.name"/>
            <small *ngIf="errors.name" class="text-danger">{{ errors.name[0] }}</small>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input 
          type="email" 
          class="form-control"
          name="email" 
          placeholder="Enter email"
          [(ngModel)]="user.email"
          />
          <small *ngIf="errors.email" class="text-danger">{{ errors.email[0] }}</small>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input 
          type="password" 
          class="form-control"
          name="password" 
          placeholder="***********"
          [(ngModel)]="user.password"/>
          <small *ngIf="errors.password" class="text-danger">{{ errors.password[0] }}</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="password_confirmation" 
            name="password_confirmation" 
            placeholder="***********"
            [(ngModel)]="user.password_confirmation"
            />
          </div>
        <div class="form-group mt-3 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="loading" >
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Register</span>
            </button>
        </div>
    </form>
</div>